@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");
:root {
  --green: hsl(75, 94%, 57%);
  --white: hsl(0, 0%, 100%);
  --grey: hsl(0, 0%, 20%);
  --dark-grey: hsl(0, 0%, 12%);
  --fff-black: hsl(0, 0%, 8%);
}

*,
*::before,
*::after {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  position: relative;
  align-items: center;
  background: var(--fff-black);
  text-align: center;
  display: flex;

  justify-content: center;
  align-items: center;
}

/*card styles*/

/*image*/
img {
  border-radius: 50%;
}

/*card*/

.card {
  height: 600px;
  width: 450px;
  background: var(--dark-grey);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
}

h1 {
  color: var(--white);
}
h3 {
  color: var(--green);
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}
h4 {
  color: var(--white);
}
li {
  font-weight: 800;
  list-style: none;
  width: 100%;
  background: var(--grey);
  margin-top: 1rem;
}
/*social links*/

.social-links li a {
  color: var(--white);
  display: block;
  text-decoration: none;
  height: 50px;
  padding: 1rem;
}
.social-links {
  width: 400px;
  margin-top: 3rem;
}
.social-links a:hover {
  background: var(--green);
}

@media screen and (max-width: 375px) {
  .card {
    width: 350px;
  }
  .social-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 280px;
    margin-top: 1rem;
  }
  .social-links a {
    padding: 0px;
  }
}
